
# CMake

build/
out/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake


# vs studio

.vs/
.vscode/
*.user
*.suo
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.obj
*.exe


# Python 

__pycache__/
*.pyc
tempCodeRunnerFile.py


# Результаты моделирования

data/*.csv